/* ======================================================
   RESET
====================================================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--bg-primary);

    color:var(--text-primary);

    font-family:var(--font-main);

    font-size:var(--fs-md);

    line-height:1.6;

    overflow-x:hidden;

}

img{

    display:block;

    max-width:100%;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    font:inherit;

    cursor:pointer;

    border:none;

    background:none;

}

ul{

    list-style:none;

}

::selection {
    background: var(--primary);
    color: #ffffff;
}

::-moz-selection {
    background: var(--primary);
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 999px;
    border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
    background: #6d93ff;
}